/*=============================================
GameBoy Gallery with image containers.
==============================================*/

.gb_gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 50px;
    max-width: 1500px;
    text-align: center
}

.gb_cell{
    background-color: rgba(55, 00, 88, .5);
    border: 5px solid;
    margin: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 192px;
}

.gb_cell img {
    width: 100%;
    max-width: 100%;
    max-height: none;
    height: auto;
    display: block;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.desc {
    background-color: rgba(55, 00, 88, .9);
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    padding: 3px;
    border: 1px solid;
}
