<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/src/css/style.css">
    <link rel="stylesheet" href="/src/css/gb_gallery.css">
    <script src="/src/js/footer.js"></script>
    <title><!-- TITLE --></title>
  </head>
  <body>

    <h1><!-- HEADER_1 --></h1>

    <div class="gb_gallery">
      <!-- GALLERY -->
    </div>

    <p class="dateline"><!-- HEADER_1 --></p>
    <!-- Footer Injection -->
    <div id="footer"></div>

  </body>
</html>
